{% extends "base/base2.html" %}

{% block title %} {{ title }} {% endblock %}


{% block body %}
	{% from "_macro.html" import render_field %}
		<script>
	    	function openVentana(){
		 		$(".ventana").slideDown("slow");
		 	}
		 	function closeVentana(){
		 		$(".ventana").slideUp("slow");
		 	}
	    </script>
	    <script>
	    	function open(){
		 		$(".ventana2").slideDown("slow");
		 	}
		 	function close(){
		 		$(".ventana2").slideUp("slow");
		 	}
	    </script>


		
		<div class="ventana">
			
			<div class="form">
				<form method="post">
					<a href="javascript:closeVentana();" type="btn" aria-label="Close" class="close">&times;</a>
					<br>
					<center>
						<h6>Ingresa nombre de usuario</h6>
						<br>
						<input type="text" name="buscarusuario">
					</center>
						<br>
					<center>
						<input type="submit" class="boton4"  name="uno" value="Añadir">
						
					</center>
						
					</div>

				</form>
			</div>

		</div>
		<div class="ventana2">
			<div class="form">

				<div class="prueba">
					<a href="javascript:close();" type="btn" aria-label="Close" class="close">&times;</a>
					<p align="left">Solicitudes</p>
					
				</div>
				<center>

					
					{% for datos in Solicitudes[contador]%}
						<form method="post">
			               	<div class="list">
								<div class="solucitudes">{{datos}}</div> 					
								<button type="submit" class="Aceptar" name="dos" value="{{datos}}">Aceptar</button>
								<button type="submit" class="Rechazar" name="tres" value="{{datos}}">Rechazar</button>

			                </div>
							
						</form>
		            {% endfor %}
				</center>			
			</div>
		</div>




		<div id="caja2">
			<header>
				
				
				

				<input type="submit" class="boton2" onclick="location.href='javascript:open();';" value="Solicitudes" />
				<input type="submit" class="boton" onclick="location.href='javascript:openVentana();';" value="Añadir" />
				
			</header>
			<br>
			<center>
				
				<form method="post">
					
					{% for datos in amigos[contador]%}
						<div class="list">
							<button type="submit"  name="uno" class="contacto" value="{{datos}}">{{datos}}</button>
				        </div>
			    	{% endfor %}
				
				
				</form>
			</center>

				





		</div>


		<div class="caja1">
			<div class="info">
				<label>{{ who }}</label>
				
			</div>
			
           
            {% for datos in Recibidos[contador] %}
                <label class="chatcontainer">{{datos}}</label>


	        {% endfor %}
		    {% for datos2 in Enviados[contador]%}
		            		
		        <label class="chatcontainer2">{{datos2}}</label>
		                	
                       
            

          
                
            {% endfor %}
            <div class="chatcontainer2">
            	
            	<img src="http://localhost:5000/templates/codww2.jpg"  style="width:128px;height:128px;">
            </div>


		</div>
		<div class="cajatexto">
			<form method="post" enctype=multipart/form-data >
						
				<input type="text" class="entrada" name="lol" placeholder="Write something...">
				<input type="submit" class="boton5" name="uno" value="Enviar" />
				<input type=file class="archivos" name="file" id="file">
				<label for="file"></label>
				<button type="submit" class="boton6" name="cuatro" value="Enviar2">Enviar imagen</button>

					
			</form>
		</div> 


	
{% endblock %}