<head>
    <title>Prueba</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>


</head>

<body>
	{% from "_macro.html" import render_field %}
		<script>
	    	function openVentana(){
		 		$(".ventana").slideDown("slow");
		 	}
		 	function closeVentana(){
		 		$(".ventana").slideUp("slow");
		 	}
	    </script>

		
		<div class="ventana">
			
			<div class="form">
				<form method="post">
					<a href="javascript:closeVentana();" type="btn" aria-label="Close" class="close">&times;</a>
					<br>
					<center>
						<h6>Ingresa nombre de usuario</h6>
					</center>
					<br>
					{{ render_field(form.username, class="form-control", placeholder="Username") }}
					<br>
					<center>
						
						<input class="boton4" type="submit", value="Confirmar">
					</center>


						
					</div>

				</form>
			</div>
		</div>
		<div id="caja2">
			<header>
				
				
				

				<input href="javascript:openVentana();" class="boton3" type="submit", value="Chats">
				<input class="boton2" type="submit", value="Contactos">
				<input type="submit" class="boton" onclick="location.href='javascript:openVentana();';" value="Añadir" />
				
			</header><!-- /header -->
			


				 
			</header>

			El término wikinota 1​ (del hawaiano wiki, «rápido»)2​ alude al nombre que recibe un sitio web, cuyas páginas pueden ser editadas directamente desde el navegador, donde los mismos usuarios crean, modifican o eliminan contenidos que, generalmente, comparten. No tiene por qué ser necesariamente un sitio en la web, puesto que hay wikis instalables para uso en el escritorio de un computador personal o que pueden portarse en un llavero usb que llevan un entorno LAMP, como por ejemplo XAMPP.

		</div> 
		<center>
			<h1>Hola</h1>
			aqui van los chats
		</center>

	
</body>