{% extends "base/base2.html" %}

{% block title %} {{ title }} {% endblock %}


{% block body %}
	{% from "_macro.html" import render_field %}
		<script>
	    	function openVentana(){
		 		$(".ventana").slideDown("slow");
		 	}
		 	function closeVentana(){
		 		$(".ventana").slideUp("slow");
		 	}
	    </script>
	    <script>
	    	function open(){
		 		$(".ventana2").slideDown("slow");
		 	}
		 	function close(){
		 		$(".ventana2").slideUp("slow");
		 	}
	    </script>


		
		<div class="ventana">
			
			<div class="form">
				<form method="post">
					<a href="javascript:closeVentana();" type="btn" aria-label="Close" class="close">&times;</a>
					<br>
					<center>
						<h6>Ingresa nombre de usuario</h6>
						<br>
						{{ render_field(form.username, class="form-control", placeholder="Username") }}
					</center>
						<br>
					<center>
						<input type="submit" class="boton4"  name="uno" value="Añadir">
						
					</center>
						
					</div>

				</form>
			</div>

		</div>
		<div class="ventana2">
			<div class="form">

				<div class="prueba">
					<a href="javascript:close();" type="btn" aria-label="Close" class="close">&times;</a>
					<p align="left">Contactos</p>
					
				</div>
				<center>

					
					{% for datos in Solicitudes[contador]%}
						<form method="post">
			               	<div class="list">
								<div class="solucitudes">{{datos}}</div> 					
								<button type="submit" class="Aceptar" name="dos" value="{{datos}}">Aceptar</button>
								<button type="submit" class="Rechazar" name="tres" value="{{datos}}">Rechazar</button>

			                </div>
							
						</form>
		            {% endfor %}
				</center>			
			</div>
		</div>




		<div id="caja2">
			<header>
				
				
				

				<input type="submit" class="boton2" onclick="location.href='javascript:open();';" value="Contactos" />
				<input type="submit" class="boton" onclick="location.href='javascript:openVentana();';" value="Añadir" />
				
			</header>
			<br>
			<center>
				
				<form method="post">
					
					{% for datos in amigos[contador]%}
						<div class="list">
							<button type="submit"  name="uno" class="contacto" value="{{datos}}">{{datos}}</button>
				        </div>
			    	{% endfor %}
				
				
				</form>
			</center>

				





		</div>


		<div class="caja1">
			<div class="info">
				<label>{{ who }}</label>
				
			</div>
			
           
            {% for datos in Recibidos[contador]%}
            	<div class="chatcontainer">
                	<a>{{datos}}</a>

            		
            	</div>
            

                
            {% endfor %}
            {% for datos in Enviados[contador]%}
            	<div class="chatcontainer2">
            		
                	<a>{{datos}}</a>
                	
            		
            	</div>
            

                
            {% endfor %}

		</div>
		<div class="cajatexto">
			<form method="post">
					
			
						
				<input type="text" class="entrada" name="lol" placeholder="Write something...">
				<input type="submit" class="boton5" name="uno" value="Enviar" />
					
			</form>
		</div> 


	
{% endblock %}