{% extends "base/base.html" %}

{% block title %} {{ title }} {% endblock %}
{% block body %}
	{% from "_macro.html" import render_field %}
	 <div class="login">
	 	
	 		<input type="submit" class="boton1" onclick="location.href='{{ url_for('login_page') }}';" value="Iniciar sesión" />	
	 </div>	

	

	 <div class="container">



	 	<form class="form-signin" method="post">
	 		<h2 class="form-signin-heading">Regístrate</h2>
			<input type="text" name="username" class="form-control" placeholder="Username">

			<p class="help-block text-danger"></p>
			<input type="password" name="password" class="form-control" placeholder="Contaseña">
			<p class="help-block text-danger"></p>
			<input type="password" name="password2" class="form-control" placeholder="Confirmar contraseña">
			<p class="help-block text-danger"></p>
			<input class="boton2" type="submit", value="Registrarme">
			


		</form>
     </div>


{% endblock %}