{% extends "base/base.html" %}


{% block title %} {{ title }} {% endblock %}
{% block body %}
      
	<div class="container">
		<div class="login">
 	
 		<input type="submit" class="boton1" onclick="location.href='{{ url_for('index') }}';" value="Registrarse" />	
 	</div>	


		{% if error %}
			<p class=error><strong>Error:</strong> {{ error }}	
		    {% endif %}

     	<form class="form-signin" method="post">
	 		<h2 class="form-signin-heading">Iniciar sesión</h2>
	 		<input type="text" name="username" class="form-control" placeholder="Username">
			<p class="help-block text-danger"></p>
			<input type="password" name="password" class="form-control" placeholder="contraseña">
			<br>
			<input class="boton2" type="submit", value="Login">

      	</form> 
    </div>

{% endblock %}


